<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheet  %}
            <link type="text/css"  href="views/base.css" rel="stylesheet" >
            <script type="text/javascript" src="./javascript/jquery.js"></script>
            <script type="text/javascript" src="./javascript/moment.js"></script>
            <script type="text/javascript" src="./javascript/vue.js"></script>
        {% endblock %}
        
        
        <title>{% block title %} Home {% endblock %}</title>
    </head> 
    <body>
       <!-- Barre de navigation-->
        <nav>
            <div class="onglets">
                <a href="?c=index&t=index">MyFeed</a>
            </div>
            <div class="buttons">
                <a href="?c=index&t=index" class="home">HOME</a>
            </div>
        </nav>
        <!-- Fin barre de navigation -->
        <section class="page"> 
          
            {% block body %}
            
    
            {% endblock %}

       </section>
    
  {% block script %}
            <script src="https://kit.fontawesome.com/2a2e68ce16.js" crossorigin="anonymous"></script>
  {% endblock %}

</body>


</html> 
