@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color:#f1f1f1;
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
}
body .page{
    margin: 20px 80px;
}

/* -- Barre de navigation -- */
nav{
    display: flex; /* Aligner les éléments*/
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #31525B;
    padding: 20px  0px;

}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px; /* pour être aligner au boutton */
}

nav .onglets a{
  
    margin: 0px 20px; /* écart entre les <a> */
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
}

nav .buttons a{
    padding: 13px 20px;
    border:none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

nav .buttons .home{
    background-color: inherit;
    margin-right: 10px;
    color: #fff;
    
}


/* -- Fin de la barre de navigation  -- */