{% block stylesheet %}

    <link type="text/css"  href="views/forms.css" rel="stylesheet" >
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/2a2e68ce16.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %} <!-- affiche le formulaire de suppression de fluxRSS -->
    
 <div class="iconBack">
        <a href="?c=user&t=openSession"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <form action="?c=feed&t=deleteFeed" method="POST">
        <h1>SUPPRESSION FEED</h1>
        <div class="icon">
            <i class="fa-solid fa-trash-can"></i>
        </div>
        <div>
            {% for feed in group.getFeeds() %}
                    {{ feed.getTitle }}<input type="checkbox" id="{{ feed.getId }}" name=" {{ feed.getTitle }}" value="{{ feed.getId }}" ><br>
            {% endfor %}
            <button type="submit"><strong>DELETE</strong></button>
        </div>
    </form>

     
{% endblock %}