{% block stylesheet %}

    <link type="text/css"  href="views/forms.css" rel="stylesheet" >
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/2a2e68ce16.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %} <!-- affiche le formulaire de création de groupe -->
    
 <div class="iconBack">
        <a href="?c=user&t=openSession"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <form action="?c=userGroup&t=add" method="POST">
        <h1>CREATION GROUPE</h1>
        {% if alertCreateGroup  == true %}   <!-- Si le nom du groupe existe déja  -->
            <p class=alert>le nom du groupe existe déjà !</p>
        {% endif %}
        <div class="formcontainer">
            <label><span>Nom du groupe :</span></label>
            <input type="text" placeholder="nom du groupe" name="name" required>
            <button type="submit"><strong>Crée</strong></button>
        </div>
    </form>
   
     
{% endblock %}