{% extends "base.html" %}

{% block stylesheet %}
    {{ parent() }}
    <link type="text/css"  href="views/index.css" rel="stylesheet" >
{% endblock %}


{% block body %}
    
    {% if connectUser  == true %}   <!-- Si le compte existe déja  -->
        <header>
            <h1>Tableau de bord</h1>
                <button class="start" onclick="window.location.href='?c=user&t=openSession';"> Votre espace</button>
                <button class="start" onclick="window.location.href='?c=user&t=closeSession';"> Deconnexion</button>
                <h2><span>MyFeed</span> l'outil idéal pour votre veille !</h2>
        </header>
        
        {% else %}
        <header>
            <h1> Connectez-vous !</h1>
            <button class="start" onclick="window.location.href='?c=user&t=create';"> Account</button>
            <button class="start" onclick="window.location.href='?c=user&t=login';"> Login</button>
            <h2><span>MyFeed</span> l'outil idéal pour votre veille !</h2>
        </header>
     {% endif %}
{% endblock %}





