{% extends "base.html" %}


{% block stylesheet %}
    {{ parent() }}
    <link type="text/css"  href="views/userPage.css" rel="stylesheet" >
    
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}

    <h1> {{ name }} </h1>
     
{% endblock %}