{% extends "base.html" %}


{% block stylesheet %}
    {{ parent() }}
    <link type="text/css"  href="views/userPage.css" rel="stylesheet" >
    
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username}} </h1>
    <a href="?c=user&t=closeSession"> Deconnexion</a>
    
    <form action="?c=userGroup&t=groupDetail" method="post"> 
        {% for group in user.getUserGroups %}
            <button name="idGroup" value={{ group.getId }}>{{ group.getName }}</button>
        {% endfor %}
    </form>
    <a href="?c=userGroup&t=create">Ajouter</a>
    <a href="?c=userGroup&t=formDelete">️Supprimer</a>
     
{% endblock %}