.blockBody{
  margin:20px;
}

div .control{
  display:flex;
  width: 50%;
  margin: 10px 0px;
}

h1{
  margin-top : 18px;
}

.control h2{
  margin-top:12px;
}

.list{
  display:flex;
  overflow-x: auto;
}

.card{
  width: 400px;
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
}

.icon{
  font-size: 100px;
  transition: transform 0.25s;
  padding: 5px 100px;
  /* Centrer horiz. icon*/
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.card:hover .icon{
  transform:scale(1.05);
}

.card a {
  color: #31525B;
  text-decoration: none;
}

.card-title {
  text-align:center;
  padding: 15px 20px;
  box-sizing: border-box;
  color: black;
}

.card-description{
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-description p{
  margin:2px;
}

.button {
    color: #31525B;
    padding: 14px 0px;
    margin: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align:center;
    border-radius: 10px;
    font-size: 20px;
}

div .title{
  display: flex; /* aligner le titre et le bouton backBtn */
}

#formBtnFeed{
  overflow-x: scroll;
}

#backBtn{
  background-color: #f1f1f1;
  width: 50px;
  font-size: 25px;
  transition: transform 0.25s;
}

#backBtn:hover {
  transform:scale(1.07);
}

#btnFeed{
  width: auto;
}